<app-header></app-header>



    
<section id="hero" class="d-flex align-items-center">

  <div class="container"  data-aos-delay="100">
    <div class="row">
      <div class="col-xl-6">
        <H1>WHAT IS A GENERAL REVIEW?</H1>
        <H1>Some Popular Books Of Different Genre...</H1>
        <h3>Find If There Is anyThing New..!</h3>
        <!-- <h2> </h2> -->
    
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<app-footer></app-footer>





        <!-- <H1>WHAT IS A GENERAL REVIEW?</H1>
        <H1>WHAT IS TODAYS TREND IN ITEMS FOR COSMETICS</H1>
        <H2>RANGES A LOT,MILLIONS OF CHOICES.....</H2>
          <h3>
            LETS COMPARE SOME COSMETIC PRODUCTS
          </h3> -->
   



