<app-header></app-header>

    <div class="col-lg-6 fMargin shadow p-3 mb-5 bg-white rounded">
    <form (ngSubmit)="onsubmit()" style="margin-top: 15%;" ngNativeValidate>
        <h1><span>SignUp</span></h1>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputfname"></label>
            <input type="name" class="form-control" name="fname" placeholder="First Name.." required  [(ngModel)]="userItem.fname">
          </div>
          <div class="form-group col-md-6">
            <label for="inputlname"></label>
            <input type="name" class="form-control" name="lname" placeholder="Last Name.." required [(ngModel)]="userItem.lname">
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4"></label>
              <input type="email" class="form-control" name="email" placeholder="Email.." required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [(ngModel)]="userItem.email">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4"></label>
              <input type="password" class="form-control" name="pwd" placeholder="Password.." required [(ngModel)]="userItem.pwd">
            </div>
          </div>
          
            <div class="form-group col-md-6">
              <label for="inputPassword4"></label>
              
              <input type="tel" class="form-control" name="phone" placeholder="Phone Number.." pattern="[0-9]{3}[0-9]{3}[0-9]{4}"required [(ngModel)]="userItem.phone">
            </div>
         <button type="submit" class="btn get-started-btn" style="margin-top: 2%; margin-left: 14%;">Sign up</button>
      </form>
  </div>
  <app-footer></app-footer>

 