<app-header3></app-header3>
<div class="row">
  <div class="col-lg-2">
  </div>
    <div class="col-lg-8 fMargin shadow p-3 mb-5 bg-white rounded">
    <form   style="margin-top: 15%;" ngNativeValidate (ngSubmit)="editReview()" method="GET">

      <h1>Edit Review </h1>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="input username"></label>
          <input type="name" class="form-control"  name="f_name" placeholder="Product name..." minlength="6" required [(ngModel)]="item.Name"/>
        </div>
        <div class="form-group col-md-6">
          <label for="Genre"></label>
          <input type="text" class="form-control"  name="f_rating" placeholder="Author.." required [(ngModel)]="item.Auth"/>
        </div>
      
      
          
            <div class="form-group col-md-6">
                <label for="Genre"></label>
                <input type="text" class="form-control"  name="f_genre" placeholder="Genre.." required [(ngModel)]="item.Genre"/>
              </div>
              
              <div class="form-group col-md-6">
                <label for="Genre"></label>
                <input type="text" class="form-control"  name="f_desc" placeholder="Desc.." required [(ngModel)]="item.Desc"/>
              </div>
              <!-- <div class="form-group col-md-6">
               <input type="file" name="f_img" accept="image/*" [(ngModel)]="item.Image"/>
              </div> -->
          
         
        </div>
       
          
      
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check" required >
            <label class="form-check-label" for="gridCheck"><br>
                Check me out
            </label>
          </div>
        </div>
        <br>
      <button type="submit" class="btn get-started-btn">Submit</button>
    </form>
</div>
</div>

