<app-header3></app-header3>
<div>
    <table style="width:100%; color: aliceblue; margin-top: 15%;" border=1px >
        <tr>
          <th>Bookname</th>
          <th>Author Name</th>
          <th>Genre</th>
          
          <th>Description</th>
        
          <th>Edit</th>
        </tr>
        <tr style="align-content: center; width:100%;" *ngFor='let review of reviews'>
          <td>{{review.proName}}</td>
          <td>{{review.proAuth}}</td>
          <td>{{ review.proGenre}}</td>
          
          <td>{{review.proDesc}}</td>
         
          <button (click)="editReview(review)">Update</button>
          <button (click)="deleteReview(review)">Delete</button>
        </tr>
        
      </table>
</div>

